@import url(css-reset-josh.css);

html {
  --admin-blue: rgb(25, 146, 212);
  --admin-orange: rgb(238, 185, 64);
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
}

header {
  background: lightpink;
  grid-area: 1 / 2 / 2 / 3;
}

.header-top,
.header-bottom {
  display: flex;
  justify-content: space-evenly;
}

.search {
  flex: 3;
}

.user {
  flex: 2;
}

.sidebar {
  background: var(--admin-blue);
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  color: white;
}

.cards-container {
  background: lightslategray;
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
}

ul {
  list-style: none;
  padding: 0;
}
